.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home{
  /* display: flex; */
  border: 2px solid black;
  display: grid;
  grid-template-columns: 400px auto 500px;
  grid-template-rows: 500px 500px;
  justify-content: space-around;
}

.form{
  margin-top: 1%;
}

.input{
  margin-left: 23px;
}

.label{
  margin-right: 10px;
}

.ageinput{
  margin-left: 30px;
}

.submit{
  margin-top: 20px;
  background-color: gray;
}

button:hover{
  background-color: cornflowerblue;
}

h3{
  color: gray;
}

.Ticketbooked{
color: green;
}
